<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
</head>
<body>
    <center>
    <h1> Paypal Assignment </h1>
    <a href="/weather"> Weather </a>
</body>
</html>
